{% extends "layout.html" %}
{% block content %}

<div class="experience">


    <div class="school-wrapper">
        <div class="school">
            <h1>Education</h1>
            <div class="line"></div>
            <div class="school-info">
                <div>Bachelor of Science, Computer Science<br>
                     Coastal Carolina University<br>
                     Cumulative GPA 3.4
                </div>
                <div class="school-info-side2">May 2020<br>
                     Conway, SC<br>
                     Dean's List 5 Semesters<br>
                     President's List 1 Semester
                </div>

            </div>
            <div class="school-title">
                Related Coursework
            </div>
            <div class="line"></div>
            <div class="school-courses">
                Operating Systems | Analysis of Algorithms | Database Systems Design
                | Theory of Computation | Data Structures | Computer Architecture | Algorithmic Design
                | Digital Forensics | Systems Analysis & Software Engineering | Artificial Intelligence 
                | Parallel Systems
            </div>
        </div>
    </div>


    <div class="work-wrapper">
        <div class="work">
            <h1>Work Experience</h1>
            <div class="line"></div>
            <div class="work-title">
                <div>Student IT Help Desk<br>
                    Coastal Carolina University
                </div>
                <div class="work-title-side2">
                    May 2019 - May 2020<br>
                    Conway, SC
                </div>
            </div>
            <div class="work-info">
                Helped clients resolve problems such as installing anti-virus,
                connecting to the internet, directing towards useful resources, 
                and navigating the universities system.
            </div>
        </div>
        <div class="work">
            <div class="work-title">
                <div>Server<br>
                    Tokyo Grill
                </div>
                <div class="work-title-side2">
                    Summer 2018<br>
                    Lexington, SC
                </div>
            </div>
            <div class="work-info">
                Portioned and served food to customers, processed POS transactions, 
                coordinated cleaning of the store, and worked efficiently with a team.
            </div>
        </div>
        <div class="work">
            <div class="work-title">
                <div>Cashier<br>
                    BI-LO Grocery
                </div>
                <div class="work-title-side2">
                    Summer 2016, Summer 2017<br>
                    Lexington, SC
                </div>
            </div>
            <div class="work-info">
                Operated the cash register, mentored new team members, efficiently processed new transactions, 
                and educated customers on promotions and item locations.
            </div>
        </div>
    </div>


</div>
{% endblock %}